<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Inbox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <style>
    .bold {
      font-weight: 800;
    }

    .container {
      display: grid;
      margin-top: 20px;

      grid-template-areas:
        "header header header"
        "nav content content"
        "footer footer footer";

      grid-template-columns: 300px 1fr;
      grid-template-rows: auto 1fr auto;
      grid-gap: 10px;

      height: 100vh;
    }

    header {
      grid-area: header;
    }

    nav {
      grid-area: nav;
      margin-left: 0.5rem;
    }

    main {
      grid-area: content;
    }

    footer {
      grid-area: footer;
    }
  </style>

</head>

<body>

  <div class="container">
    <header>
      <h3>
        Inbox App
        <small class="text-muted">Welcome, </small>
        <small class="text-muted" th:text=" ${userName}">User Name</small>
      </h3>
    </header>
    <nav>

      <!-- <div class="card">
        <div class="card-header">Folders</div>
        <div class="card-body">
          <ul class="list-group">
            <li th:each="folder : ${defaultFolders}"
              class="list-group-item d-flex justify-content-between align-items-center">
              <span th:text="${folder.label}"> Label </span>
              <span class="badge bg-primary rounded-pill">14</span>
            </li>
          </ul>
        </div>

        <div class="card" th:if="${userFolders}">
          <div class="card-header">User Folders</div>
          <div class="card-body">
            <ul class="list-group">
              <li th:each="folder : ${userFolders}"
                class="list-group-item d-flex justify-content-between align-items-center">
                <span th:text="${folder.label}"> Label </span>
                <span class="badge bg-primary rounded-pill">145</span>
              </li>
            </ul>
          </div>
        </div> -->

      <div th:insert="components/folder-list :: folder-list (panelName = 'Folders', folders = ${defaultFolders})"></div>
      <div th:insert="components/folder-list :: folder-list (panelName = 'My folders', folders = ${userFolders})"></div>

    </nav>

    <main>
      <p>
      <div class="card" th:if="${emailList}">
        <div class="card-header" th:text="${folderName}">Inbox</div>
        <div class="card-body">
          <div class="list-group">
            <a th:each="message : ${emailList}" th:href="@{'/emails/' + ${message.key.timeUUID}}"
              class="list-group-item list-group-item-action">
              <!-- th:classappend="${email.isRead} ? regular : bold"
              aria-current="true" th:each="email : ${folderEmails}"-->
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${message.subject}">List Group Item Heading</h5>
                <!--th:classappend="${email.isRead} ? regular : bold" th:text="${email.subject}-->
                <small th:text="${message.agoTimeString}">3 days ago</small>
              </div>
              <p class="mb-1" th:text="${message.to}"> Some Placeholder Content
                <!-- <span>From: </span><span th:text="${email.from}">Sender</span>  -->
              </p>
            </a>

          </div>
        </div>
        </p>
    </main>
  </div>

</body>

</html>